
<div class="callout text-center">
  <h1>Welcome to the coolest website evarrrr!</h1>
  
  <h4>I would like this <span class="awesome-thing"> text</span> to be centered.</h4>

  <a href="#" class="awesome-thing--green ">
    Tee Hee
  </a>

  <button type="button">Button for Nick</button>
  
  <h4 class="card">Here are three things I would like to show you in a row:</h4>
</div>
  
<div class="grid-x grid-margin-x">
  <div class="cell small-12 medium-6 large-4"> 
    <h6>Awesome Thing #1</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
      mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
      turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
      luctus vitae ultricies sed, congue sit amet tellus.
    </p>
  </div>
  
  <div class="cell small-12 medium-6 large-4">
      <h6>Awesome Thing #2</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
        mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
        turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
        luctus vitae ultricies sed, congue sit amet tellus.
      </p>
  </div>
  <div class="cell small-12 medium-6 large-4">
      <h6>Awesome Thing #3</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
        mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
        turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
        luctus vitae ultricies sed, congue sit amet tellus.
      </p>

  </div>
  <div class="cell small-12 medium-6 large-4">
      <h6>Awesome Thing #4</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dignissim,
        mi in imperdiet dignissim, dolor neque posuere nisi, sit amet bibendum massa
        turpis quis tellus. Maecenas sit amet varius sapien. Vivamus lacus diam,
        luctus vitae ultricies sed, congue sit amet tellus.
      </p>
  </div>





</div>





